In [2]:
import pandas as pd
import numpy as np
%load_ext autoreload
%autoreload 2

In [3]:
PATH = './input/'
nrows = None

item_id - Ad id.
user_id - User id.
region - Ad region.
city - Ad city.
parent_category_name - Top level ad category as classified by Avito's ad model.
category_name - Fine grain ad category as classified by Avito's ad model.
param_1 - Optional parameter from Avito's ad model.
param_2 - Optional parameter from Avito's ad model.
param_3 - Optional parameter from Avito's ad model.
title - Ad title.
description - Ad description.
price - Ad price.
item_seq_number - Ad sequential number for user.
activation_date- Date ad was placed.
user_type - User type.
image - Id code of image. Ties to a jpg file in train_jpg. Not every ad has an image.
image_top_1 - Avito's classification code for the image.
deal_probability - The target variable. This is the likelihood that an ad actually sold something. It's not possible to verify every transaction with certainty, so this column's value can be any float from zero to one.

In [12]:
data_train = pd.read_csv('{PATH}train.csv'.format(PATH = PATH), nrows = nrows, 
                         parse_dates = ['activation_date'], index_col='item_id')
print(data_train.shape)
#print(data_train.info())
data_train.head()

(1503424, 17)

,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date,user_type,image,image_top_1,deal_probability
item_id,,,,,,,,,,,,,,,,,
b912c3c6a6ad,e00f8ff2eaf9,Свердловская область,Екатеринбург,Личные вещи,Товары для детей и игрушки,Постельные принадлежности,NaN,NaN,Кокоби(кокон для сна),"Кокон для сна малыша,пользовались меньше месяц...",400.0,2,2017-03-28,Private,d10c7e016e03247a3bf2d13348fe959fe6f436c1caf64c...,1008.0,0.12789
2dac0150717d,39aeb48f0017,Самарская область,Самара,Для дома и дачи,Мебель и интерьер,Другое,NaN,NaN,Стойка для Одежды,"Стойка для одежды, под вешалки. С бутика.",3000.0,19,2017-03-26,Private,79c9392cc51a9c81c6eb91eceb8e552171db39d7142700...,692.0,0.00000
ba83aefab5dc,91e2f88dd6e3,Ростовская область,Ростов-на-Дону,Бытовая электроника,Аудио и видео,"Видео, DVD и Blu-ray плееры",NaN,NaN,Philips bluray,"В хорошем состоянии, домашний кинотеатр с blu ...",4000.0,9,2017-03-20,Private,b7f250ee3f39e1fedd77c141f273703f4a9be59db4b48a...,3032.0,0.43177
02996f1dd2ea,bf5cccea572d,Татарстан,Набережные Челны,Личные вещи,Товары для детей и игрушки,Автомобильные кресла,NaN,NaN,Автокресло,Продам кресло от0-25кг,2200.0,286,2017-03-25,Company,e6ef97e0725637ea84e3d203e82dadb43ed3cc0a1c8413...,796.0,0.80323
7c90be56d2ab,ef50846afc0b,Волгоградская область,Волгоград,Транспорт,Автомобили,С пробегом,ВАЗ (LADA),2110,"ВАЗ 2110, 2003",Все вопросы по телефону.,40000.0,3,2017-03-16,Private,54a687a3a0fc1d68aed99bdaaf551c5c70b761b16fd0a2...,2264.0,0.20797

In [13]:
data_test = pd.read_csv('{PATH}test.csv'.format(PATH = PATH), nrows = nrows, parse_dates = ['activation_date'], index_col='item_id')
print(data_test.shape)
#print(data_train.info())
data_test.head()

(508438, 16)

,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date,user_type,image,image_top_1
item_id,,,,,,,,,,,,,,,,
6544e41a8817,dbe73ad6e4b5,Волгоградская область,Волгоград,Личные вещи,Детская одежда и обувь,Для мальчиков,Обувь,25,Отдам бесплатно,На ангарском,NaN,66,2017-04-18,Private,a8b57acb5ab304f9c331ac7a074219aed4d349d8aef386...,2020.0
65b9484d670f,2e11806abe57,Свердловская область,Нижняя Тура,Хобби и отдых,Велосипеды,Дорожные,NaN,NaN,Продам велосипед,"Продам велосипед KAMA F200,в нормальном состо...",3000.0,4,2017-04-16,Private,NaN,NaN
8bab230b2ecd,0b850bbebb10,Новосибирская область,Бердск,Бытовая электроника,Аудио и видео,Телевизоры и проекторы,NaN,NaN,BBK,Продам новый телевизор BBK 32 диагональ смарт...,15000.0,15,2017-04-17,Private,8c361112cb049745ef2d1b0ae73594fc5c107286b0c942...,2960.0
8e348601fefc,5f1d5c3ce0da,Саратовская область,Саратов,Для дома и дачи,Бытовая техника,Для кухни,Вытяжки,NaN,Вытяжка Jetair 60,"Продам новую вытяжку в упаковке,с документами....",4500.0,70,2017-04-17,Private,NaN,NaN
8bd2fe400b89,23e2d97bfc7f,Оренбургская область,Бузулук,Личные вещи,Товары для детей и игрушки,Детские коляски,NaN,NaN,Коляска зима-лето,Продам отличную коляску. б/у 1 год. все вопрос...,4900.0,15,2017-04-15,Private,bc3cf6deef10840fc302e38eb48fa7748aa1e28d534f8f...,1002.0

In [17]:
sorted(data_train['activation_date'].unique())

[numpy.datetime64('2017-03-15T00:00:00.000000000'),
 numpy.datetime64('2017-03-16T00:00:00.000000000'),
 numpy.datetime64('2017-03-17T00:00:00.000000000'),
 numpy.datetime64('2017-03-18T00:00:00.000000000'),
 numpy.datetime64('2017-03-19T00:00:00.000000000'),
 numpy.datetime64('2017-03-20T00:00:00.000000000'),
 numpy.datetime64('2017-03-21T00:00:00.000000000'),
 numpy.datetime64('2017-03-22T00:00:00.000000000'),
 numpy.datetime64('2017-03-23T00:00:00.000000000'),
 numpy.datetime64('2017-03-24T00:00:00.000000000'),
 numpy.datetime64('2017-03-25T00:00:00.000000000'),
 numpy.datetime64('2017-03-26T00:00:00.000000000'),
 numpy.datetime64('2017-03-27T00:00:00.000000000'),
 numpy.datetime64('2017-03-28T00:00:00.000000000'),
 numpy.datetime64('2017-03-29T00:00:00.000000000'),
 numpy.datetime64('2017-03-30T00:00:00.000000000'),
 numpy.datetime64('2017-03-31T00:00:00.000000000'),
 numpy.datetime64('2017-04-01T00:00:00.000000000'),
 numpy.datetime64('2017-04-02T00:00:00.000000000'),
 numpy.datetime64('2017-04-03T00:00:00.000000000'),
 numpy.datetime64('2017-04-07T00:00:00.000000000')]

In [18]:
sorted(data_test['activation_date'].unique())

[numpy.datetime64('2017-04-12T00:00:00.000000000'),
 numpy.datetime64('2017-04-13T00:00:00.000000000'),
 numpy.datetime64('2017-04-14T00:00:00.000000000'),
 numpy.datetime64('2017-04-15T00:00:00.000000000'),
 numpy.datetime64('2017-04-16T00:00:00.000000000'),
 numpy.datetime64('2017-04-17T00:00:00.000000000'),
 numpy.datetime64('2017-04-18T00:00:00.000000000'),
 numpy.datetime64('2017-04-19T00:00:00.000000000'),
 numpy.datetime64('2017-04-20T00:00:00.000000000')]

In [5]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, b912c3c6a6ad to 6470e4127e29
Data columns (total 17 columns):
user_id                 100 non-null object
region                  100 non-null object
city                    100 non-null object
parent_category_name    100 non-null object
category_name           100 non-null object
param_1                 96 non-null object
param_2                 60 non-null object
param_3                 49 non-null object
title                   100 non-null object
description             93 non-null object
price                   94 non-null float64
item_seq_number         100 non-null int64
activation_date         100 non-null object
user_type               100 non-null object
image                   89 non-null object
image_top_1             89 non-null float64
deal_probability        100 non-null float64
dtypes: float64(3), int64(1), object(13)
memory usage: 14.1+ KB

In [10]:
for i in data_train.columns:
    print(i, data_train[i].nunique())

user_id 771769
region 28
city 1733
parent_category_name 9
category_name 47
param_1 371
param_2 271
param_3 1219
title 788377
description 1317102
price 17006
item_seq_number 28232
activation_date 21
user_type 3
image 1390836
image_top_1 3062
deal_probability 18407

In [4]:
data_train.dtypes

user_id                  object
region                   object
city                     object
parent_category_name     object
category_name            object
param_1                  object
param_2                  object
param_3                  object
title                    object
description              object
price                   float64
item_seq_number           int64
activation_date          object
user_type                object
image                    object
image_top_1             float64
deal_probability        float64
dtype: object

In [4]:
data_train = pd.read_csv('{PATH}train_active.csv'.format(PATH = PATH), nrows = nrows, index_col='item_id')
print(data_train.shape)
#print(data_train.info())
data_train.head()

(18, 14)

,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date,user_type
item_id,,,,,,,,,,,,,,
70d6342079ef,11d4c04d8c51,Нижегородская область,Нижний Новгород,Хобби и отдых,Книги и журналы,Книги,NaN,NaN,Детская знциклопедия,"детская энциклопедия,10 томов, в книге 630 стр...",200.0,20.0,2017-03-15,Private
97cf505710e1,d7068c60b2c6,Воронежская область,Воронеж,Недвижимость,Гаражи и машиноместа,Продам,Гараж,Кирпичный,"Гараж, > 30 м²","Продается ГАРАЖ в ПГСК Алмаз/\nУдобный въезд, ...",590000.0,23.0,2017-03-27,Private
6a93a31a945d,755c88999bc7,Нижегородская область,Нижний Новгород,Недвижимость,Коммерческая недвижимость,Сдам,Торговое помещение,NaN,"Торговое помещение, 50-5000 м²",Сдаем в аренду лучшие торговые помещения Н.Нов...,100000.0,4.0,2017-03-15,Private
050cade37667,3d7fb2abdbbc,Башкортостан,Стерлитамак,Бытовая электроника,Телефоны,Аксессуары,Аккумуляторы,NaN,Аккумулятор на 5s / 5c,"продам батарею на iphone 5s , 5с",750.0,157.0,2017-03-15,Company
2935e85aa40b,fc1be1a809d1,Татарстан,Казань,Для дома и дачи,Ремонт и строительство,Камины и обогреватели,NaN,NaN,"Заглушки, дверцы, плита","Всё для печи: плита, заглушка, дверцы- всё нов...",3900.0,27.0,2017-03-15,Private

In [4]:
from utils import TargetEncoding, gridsearch

In [5]:
te = TargetEncoding()

In [6]:
te.fit(data_train['city'], data_train['deal_probability'], alpha=1)

In [10]:
te.transform(data_train['city'])

item_id
b912c3c6a6ad    0.181318
2dac0150717d    0.117373
ba83aefab5dc    0.222172
02996f1dd2ea    0.518988
7c90be56d2ab    0.221358
51e0962387f7    0.518988
c4f260a2b48a    0.078249
6b71309d6a8a    0.518988
c5b969cb63a2    0.124442
b1570962e68c    0.078249
d5480bb4a6e4    0.411638
86f41f50d8c1    0.117373
645237cb3601    0.124442
df2116f34563    0.222172
a97943ae8158    0.117373
4b6abd0a5921    0.117373
7896ef8fe482    0.277873
7882b1e77748    0.117373
Name: city, dtype: float64

In [11]:
data_train['city'].name

'city'

In [12]:
te.voc['mean'].to_dict()

{'Волгоград': 0.22135805555555554,
 'Екатеринбург': 0.18131805555555558,
 'Заводоуковск': 0.11737305555555556,
 'Казань': 0.11737305555555556,
 'Краснодар': 0.2778730555555556,
 'Набережные Челны': 0.5189880555555556,
 'Нижний Новгород': 0.07824870370370371,
 'Новосибирск': 0.11737305555555556,
 'Оренбург': 0.12444203703703705,
 'Пермь': 0.5189880555555556,
 'Ростов-на-Дону': 0.22217203703703703,
 'Самара': 0.11737305555555556,
 'Туймазы': 0.11737305555555556,
 'Ханты-Мансийск': 0.41163805555555555,
 'Чистополь': 0.5189880555555556}

In [35]:
data_train.iloc[[10, 12,13], 2] = [1, 2, 'dfsf']
data_train.iloc[[10, 12,13], 2]

item_id
d5480bb4a6e4       1
645237cb3601       2
df2116f34563    dfsf
Name: city, dtype: object

In [47]:
GS = gridsearch()
GS.gridsearch(data_train['city'], data_train['deal_probability'], alpha=200)

,0,1,2,3,4,5,6,7,8
0,0.131014,0.140529,0.191293,0.183847,0.000000,0.000000,0.30037,0.000000,0.000000
1,0.131014,0.140529,0.191293,0.183847,0.000000,0.000000,0.30037,0.000000,0.000000
2,0.131014,0.140529,0.191293,0.183847,0.000000,0.000000,0.30037,0.000000,0.000000
3,0.131014,0.140529,0.191293,0.183847,0.000000,0.000000,0.30037,0.000000,0.000000
4,0.131014,0.140529,0.191293,0.000000,0.210486,0.000000,0.00000,0.243928,0.000000
5,0.131014,0.140529,0.191293,0.000000,0.210486,0.000000,0.00000,0.243928,0.000000
6,0.131014,0.000000,0.000000,0.183847,0.210486,0.314084,0.00000,0.242714,0.000000
7,0.131014,0.000000,0.000000,0.183847,0.210486,0.314084,0.00000,0.243928,0.000000
8,0.131014,0.000000,0.000000,0.183847,0.210486,0.314084,0.00000,0.000000,0.397165
9,0.131014,0.000000,0.000000,0.183847,0.210486,0.314084,0.00000,0.000000,0.395189
10,0.000000,0.140529,0.000000,0.183847,0.210486,0.314084,0.00000,0.000000,0.397165
11,0.000000,0.140529,0.000000,0.183847,0.210486,0.314084,0.00000,0.000000,0.397165
12,0.000000,0.140529,0.000000,0.000000,0.210486,0.000000,0.30037,0.243928,0.397165
13,0.000000,0.140529,0.000000,0.000000,0.210486,0.000000,0.30037,0.243928,0.397165
14,0.000000,0.000000,0.191293,0.000000,0.000000,0.314084,0.30037,0.243928,0.397165
15,0.000000,0.000000,0.191293,0.000000,0.000000,0.314084,0.30037,0.243928,0.397165
16,0.000000,0.000000,0.191293,0.000000,0.000000,0.314084,0.30037,0.243928,0.397165
17,0.000000,0.000000,0.191293,0.000000,0.000000,0.314084,0.30037,0.243928,0.397165

## Periods

In [10]:
perdiod = pd.read_csv('{PATH}periods_train.csv'.format(PATH = PATH), nrows = None, 
                      parse_dates=['activation_date', 'date_from', 'date_to'],index_col='item_id')
print(perdiod.shape)
#print(data_train.info())
perdiod.head()

(16687412, 3)

             activation_date  date_from    date_to
item_id
8f5caef7afb0      2017-02-14 2017-03-15 2017-03-16
66218ff526d1      2017-02-16 2017-03-15 2017-03-18
b237d9539b21      2017-03-01 2017-03-15 2017-03-28
80bf58082ad3      2017-03-19 2017-03-19 2017-03-28
67a9944a7373      2017-03-14 2017-03-15 2017-03-28

In [11]:
perdiod.dtypes

activation_date    datetime64[ns]
date_from          datetime64[ns]
date_to            datetime64[ns]
dtype: object

In [16]:
train_active = pd.read_csv('{PATH}train_active.csv'.format(PATH = PATH), parse_dates=['activation_date'],
                           nrows = None, index_col='item_id')
print(train_active.shape)
#print(data_train.info())
train_active.head()

(14129821, 14)

,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date,user_type
item_id,,,,,,,,,,,,,,
70d6342079ef,11d4c04d8c51,Нижегородская область,Нижний Новгород,Хобби и отдых,Книги и журналы,Книги,NaN,NaN,Детская знциклопедия,"детская энциклопедия,10 томов, в книге 630 стр...",200.0,20.0,2017-03-15,Private
97cf505710e1,d7068c60b2c6,Воронежская область,Воронеж,Недвижимость,Гаражи и машиноместа,Продам,Гараж,Кирпичный,"Гараж, > 30 м²","Продается ГАРАЖ в ПГСК Алмаз/\nУдобный въезд, ...",590000.0,23.0,2017-03-27,Private
6a93a31a945d,755c88999bc7,Нижегородская область,Нижний Новгород,Недвижимость,Коммерческая недвижимость,Сдам,Торговое помещение,NaN,"Торговое помещение, 50-5000 м²",Сдаем в аренду лучшие торговые помещения Н.Нов...,100000.0,4.0,2017-03-15,Private
050cade37667,3d7fb2abdbbc,Башкортостан,Стерлитамак,Бытовая электроника,Телефоны,Аксессуары,Аккумуляторы,NaN,Аккумулятор на 5s / 5c,"продам батарею на iphone 5s , 5с",750.0,157.0,2017-03-15,Company
2935e85aa40b,fc1be1a809d1,Татарстан,Казань,Для дома и дачи,Ремонт и строительство,Камины и обогреватели,NaN,NaN,"Заглушки, дверцы, плита","Всё для печи: плита, заглушка, дверцы- всё нов...",3900.0,27.0,2017-03-15,Private

In [17]:
result = perdiod.join(train_active, lsuffix='_1', rsuffix='_2')
print(result.shape)
result.head()

(16961485, 17)

,activation_date_1,date_from,date_to,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date_2,user_type
item_id,,,,,,,,,,,,,,,,,
00000077ff21,2017-03-06,2017-03-15,2017-03-28,3c0ae6a131ee,Краснодарский край,Сочи,Для дома и дачи,Ремонт и строительство,Стройматериалы,NaN,NaN,Кабель тв cavel SAT703 B NE,Продам кабель ТВ CAVEL SAT 703 B NE. Лучший тв...,7000.0,56.0,2017-03-15,Company
000006497719,2017-03-05,2017-03-15,2017-03-28,b3953ce33d94,Ростовская область,Батайск,Личные вещи,"Одежда, обувь, аксессуары",Аксессуары,NaN,NaN,Свадебные перчатки,"классные короткие перчатки искрятся,одела один...",300.0,8.0,2017-03-15,Company
000006f5c0fd,2017-03-27,2017-03-27,2017-03-28,6e5030091e2d,Иркутская область,Иркутск,Личные вещи,Детская одежда и обувь,Для мальчиков,Брюки,74-80 см (7-12 мес),Джинсы,Состояние и качество хорошее.,350.0,34.0,2017-03-15,Private
000006f5c0fd,2017-02-17,2017-03-15,2017-03-19,6e5030091e2d,Иркутская область,Иркутск,Личные вещи,Детская одежда и обувь,Для мальчиков,Брюки,74-80 см (7-12 мес),Джинсы,Состояние и качество хорошее.,350.0,34.0,2017-03-15,Private
0000079b5cc9,2017-03-20,2017-03-20,2017-03-28,9c58891e3a23,Свердловская область,Первоуральск,Личные вещи,"Одежда, обувь, аксессуары",Женская одежда,Рубашки и блузки,44–46 (M),Блузки новые Турция товарный остаток,NaN,0.0,37.0,2017-03-20,Private

In [ ]:
((result.activation_date_1 - result.activation_date_2).value_counts()).value_counts()

In [46]:
pd.merge(data_train, perdiod, on='item_id')

Empty DataFrame
Columns: [user_id, region, city, parent_category_name, category_name, param_1, param_2, param_3, title, description, price, item_seq_number, activation_date_x, user_type, image, image_top_1, deal_probability, activation_date_y, date_from, date_to]
Index: []

In [40]:
perdiod.dtypes

item_id            object
activation_date    object
date_from          object
date_to            object
dtype: object

In [49]:
perdiod[perdiod.index=='ba83aefab5dc']

Empty DataFrame
Columns: [activation_date, date_from, date_to]
Index: []

In [33]:
perdiod.columns

Index(['item_id', 'activation_date', 'date_from', 'date_to'], dtype='object')

In [31]:
data_train.columns

Index(['item_id', 'user_id', 'region', 'city', 'parent_category_name',
       'category_name', 'param_1', 'param_2', 'param_3', 'title',
       'description', 'price', 'item_seq_number', 'activation_date',
       'user_type', 'image', 'image_top_1', 'deal_probability'],
      dtype='object')